<a href="https://colab.research.google.com/github/Bart0lo/curso_pandas/blob/main/10_Leer_archivos_CSV_y_JSON_con_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Para leer archivos csv usamos pd.read_csv(path)

In [ ]:
pd.read_csv('/content/archivoclase11.csv', sep = ',', header = 0)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

Si mi archivo csv no estÃ¡ delimitado por comas, podemos cambiar el separador,  sep = ' , '

In [ ]:
pd.read_csv('/content/archivoclase11.csv', sep = ',')

Si el archivo no tiene header podemos especificarlo con header = indice del titulo de las columnas

Si no tiene tÃ­tulo se especifica None

In [ ]:
pd.read_csv('/content/archivoclase11.csv', header = None)

Podemos guarda la informaciÃ³n como un dataframe en variables

In [ ]:
df_books = pd.read_csv('/content/archivoclase11.csv', sep = ',', header = 0)

In [ ]:
#obtenemos el nombre de las columnas

df_books.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

Para cambiar el nombre de las columnas usamos 'names'

In [ ]:
df_books = pd.read_csv('/content/archivoclase11.csv', sep = ',', header = 0, names= ['Nombre', 'Autor', 'CalificaciÃ³n', 'Reviews', 'Price', 'Year', 'Genre'])
df_books

,Nombre,Autor,CalificaciÃ³n,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction